<footer>
    <div class="f-info">
        <!--social media-->
        <div class="f-info-socials">
           <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
           <a href="#"><i class="fa-brands fa-linkedin"></i></a>
           <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        </div>
        <!--policy terms-->
        <div class="f-info-tc">
         <a href="#">Privacy Policy</a>
         <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>