<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CampusPost</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/posts">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts/new">Create new post</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <% if (!currUser) { %>
              <li><a class="dropdown-item" href="/signup">Signup</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <% } %>
              <% if (currUser) { %>
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                <li><hr class="dropdown-divider"></li>
                <li class="user-name"><i class="fa-solid fa-user"></i><%=currUser.username %></li>
              <% } %>

              
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search" action="/posts/search" method="GET"  onsubmit="clearInput()">
          <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <script>
    function clearInput() {
        document.getElementById("searchInput").value = ""; 
    }
</script>