<% layout("/layouts/boilerplate.ejs") %>

<div class="container mt-4">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
        <!--Username-->
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Dharmendra Pandit" required>
        </div>
        <!--Email-->
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" name="email" id="email" class="form-control" placeholder="pandit@gmail.com" required>
        </div>
        <!--password-->
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="qwertzx123" required>
        </div>
        <button class="btn btn-outline-dark mb-3">signup</button>
    </form>
</div>